@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #eef0f4;
  --input-background: #dce1eb;
  --button-background: #640dc1;
  --button-color: #fdfdfd;
  --button-color-hover: #9640f2;
  --items-background: #fffdf8;
  --font: 'Rubik', sans-serif;
}

html {
  background-color: var(--background);
  font-family: var(--font);
  user-select: none; /*user can not select elements*/
}

body {
  overflow-x: hidden;
}

/*section form*/
.section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 320px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div {
  font-size: 52px;
  padding: 2rem 1rem 3rem 1rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--button-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-letter {
  width: 3rem;
}

.section-form > img {
  width: 40vw;
}

/*form*/
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form > input {
  padding: 0.8rem;
  font-family: var(--font);
  font-size: 20px;
  border-radius: 8px;
  background-color: var(--input-background);
  border: none;
  text-align: center;
  height: 3rem;
  letter-spacing: 1px;
}

.form > button {
  padding: 0.8rem;
  font-family: var(--font);
  font-size: 20px;
  border-radius: 8px;
  background-color: var(--button-color-hover);
  color: var(--button-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  transition: background-color 0.4s ease-out;
  letter-spacing: 1.2px;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0 0 0 /0.2);
}

.form > button:active {
  background-color: var(--button-background);
}

#shopping-list {
  padding: 2rem 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto;
}

#shopping-list > li {
  font-size: 20px;
  background-color: var(--items-background);
  color: #303030;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0 0 0 /0.2);
  font-weight: 300;
  letter-spacing: 1px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--items-background);
  border-radius: 8px;
  padding: 1.5rem 1rem;
  box-shadow: 0px 2px 4px rgba(0 0 0 /0.2);
  width: 100%;
}

.emptyCart > p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.empty-cart {
  width: 6rem;
  animation: movingCart 5s ease-in-out alternate-reverse infinite;
}
@keyframes movingCart {
  from {
    rotate: 20deg;
  }
  to {
    rotate: -20deg;
  }
}

/*ALERT*/
.alert {
  position: fixed;
  padding: 0.8rem;
  width: 320px;
  margin: 0 auto;
  background-color: #ea9696;
  color: #f24444;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  animation: popup 0.35s ease-out;
}
@keyframes popup {
  from {
    scale: 0;
    opacity: 0.35;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.alert-off {
  display: none;
}
